@charset "utf-8";

html{
  font-size:62.5%;
}
@include initStyle();

body {
  font-family:'PingFangSC-Light','Microsoft YaHei', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: pxChangeRem(24);
}

a{
  color: #666666;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
  //去除点击时候得阴影
  &:active{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color:rgba(0, 0, 0, 0) !important;
    -ms-tap-highlight-color:rgba(0, 0, 0, 0) !important;
    -o-tap-highlight-color:rgba(0, 0, 0, 0) !important;
    tap-highlight-color:rgba(0, 0, 0, 0) !important;
  }
}
//去除点击时候得阴影
*:active{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0) !important;
  -moz-tap-highlight-color:rgba(0, 0, 0, 0) !important;
  -ms-tap-highlight-color:rgba(0, 0, 0, 0) !important;
  -o-tap-highlight-color:rgba(0, 0, 0, 0) !important;
  tap-highlight-color:rgba(0, 0, 0, 0) !important;
}


